@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

.App{
  margin-left: 100px;
   color:white;
  justify-content: center;
 }
